{% extends 'base.html.twig' %}

{% block title %}Modifier {{ livre.title }}{% endblock %}

{% block body %}
    <h1>Modifier {{ livre.title }}</h1>

    {{ include('livre/_form.html.twig', { form: form, button_label: 'Modifier' }) }}

    <a href="{{ path('app_livre_index') }}">Retour à la Liste</a>
{% endblock %}
